/*

Do these for all divs that require it
    display: flex;
    flex-direction: row | column;

Add alignment if you wanna
    justify-content: ----;
    align-items: ----;

*/

/*

After layout is done add these properties where required

  margin
  padding
  background-color
  color -- font color

  get rid of div borders
*/

/*
    These are rules are called a 'css reset'

    They reset/remove some of the default styles that
    are added to certain elements by default.

    Typically they won't be added using the universal selector (*)
    and would be applied to something more specific.
    I'm using it here for simplicity.
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
    I've also added this just to visualize the div's we added.
    Feel free to remove it or override it when styling the div's.
*/
div {
	border: 1px solid red;

	/* This is a custom css property (variable) */
	--spacing: 8px;
	/* This is how you use custom properties*/
	padding: var(--spacing);
	margin: var(--spacing);
}

.centered-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.centered-div > img {
	border: 1px solid blue;
}

#navigation-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#navigation-buttons button {
}

#main-logo {
	border: 1px solid yellow;
}
